body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: italic; 
    font-family: 'Lucida handwriting', serif;
  }
  
code {
    font-style: italic;
    font-family: 'Lucida handwriting', serif;
}
  
.app {
    background: gainsboro;
    padding: 30px;
    height: 100vh;
}
  
.todo-list {
    background: darkgray;
    border-radius: 10px;
    padding: 5px;
    max-width: 400px;
}
  
.todo {
    background: gainsboro;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
  
.input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
    background: gainsboro;
    font-style: italic;
    font-family: 'Lucida handwriting',serif;
}
  
h2 { 
    background-color: gainsboro;
    font-style: italic;
    font-family: 'Lucida handwriting',serif;
    padding: 20px;
}